address{
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    margin: 40px;

    .contact{
        display: grid;
        grid-template-columns: 25% 75%;

        ul{
            display: flex;
            justify-content: space-around ;
            width: 50%;
        }
    }
}