.button-top, .button-top:visited{
    color: $white;
}

.button2, .button2:visited{
    margin-top: 40px;
    display: inline-block;
    font-family: 'font1', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: $black;
    background: $white;
    border: 2px solid $black;
    padding: 15px 40px;
    text-decoration: none;
    transition: 1s;
    user-select: none;
    
    &:hover{
        @include button-hover;
    }
}

// Responsive

@media screen and (max-width: 1099.5px) {
    .button2, .button2:visited{
        margin-top: 20px;
        font-size: 12px;
        padding: 12px 30px;
        letter-spacing: 2px;
    }
}