// Import V

@font-face {
    font-family: "font-1";
    src: url(../fonts/Inter-ExtraBold.ttf);
}

@font-face {
    font-family: "font-2";
    src: url(../fonts/Merriweather-Light.ttf);
}

// Variables V

$color1: rgba(0, 0, 0, 0.1);
$color2: rgb(245, 245, 245);
$color3: rgb(80, 155, 235);
$color4: rgb(225, 215, 215);
$white: white;
$black: black;

// General V

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

::first-letter {
    text-transform: uppercase;
}

*::selection{
    color: $color3;
    background-color: $color4;
}

pre{
    // inherit: "To use in Css General only if some elements don't want listen the rules of your Web site" at the bottom
    font-family: inherit;
}

// Mixins V

@mixin flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button-hover{
    cursor: pointer;
    border: 2px solid $color3;
    background: $white;
    color: $color3;
    transform: scale(1.1);
}

@mixin main-layout {
    background: $white;
    margin: 0 auto;
    width: 72.5%;
    margin-bottom: 30px;
}

@mixin middle-bar {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    left: 50%;
}
