footer{
    @include main-layout;
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;

    &::after{
        @include middle-bar;
        background: $color1;
    }
}

// Responsive

@media screen and (max-width: 1099.5px) {
    footer{
        width: 85%;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;

        &::after{
            display: none;
        }
    }
}